.timer {
  padding: 40px;
  background-color: #f9c5d1;
  background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
  color: #fff;
  text-align: center;
  height: 150px;
}

.time {
  font-size: 3em;
}

.colon {
  animation: blink 1s steps(1) infinite;
}

@keyframes blink{
  0% {
    opacity: 0 
  }
  50% {
    opacity: 1 
  }
  100% {
    opacity: 0 
  }
}

.timerEnter {
  height: 0;
  opacity: 0;
}

.timerEnterActive {
  height: 150px;
  opacity: 1;
  transition: .5s ease all;
}

.timerExit {
  height: 150px;
  opacity: 1;
}

.timerExitActive {
  height: 0;
  opacity: 1;
  transition: .5s ease all;
}