.container {
  margin: 0 auto;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  color: #fff;
  padding: 50px 40px 70px;
  box-sizing: border-box;
}

.date {
  color: #9e9e9e;
}

.bold {
  font-weight: bold;
}